:root {
    --color-titles: #212121;
    --color-subtitles: #757575;
    --color-accent: #2196f3;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --hero-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}